{% extends 'base.html.twig' %}

{% block title %}CategorieT index{% endblock %}

{% block body %}
    <h1>CategorieT index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type_transport</th>
                <th>Image_transport</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_t in categorie_ts %}
            <tr>
                <td>{{ categorie_t.id }}</td>
                <td>{{ categorie_t.typeTransport }}</td>
                <td>{{ categorie_t.imageTransport }}</td>
                <td>
                    <a href="{{ path('categorie_t_show', {'id': categorie_t.id}) }}">show</a>
                    <a href="{{ path('categorie_t_edit', {'id': categorie_t.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_t_new') }}">Create new</a>
{% endblock %}
