{% extends 'base-front.html.twig' %}

{% block title %}CategorieM index{% endblock %}

{% block body %}
    <h1>CategorieM index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomCat_m</th>
                <th>Icon</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_m in categorie_ms %}
            <tr>
                <td>{{ categorie_m.id }}</td>
                <td>{{ categorie_m.nomCatM }}</td>
                <td>{{ categorie_m.icon }}</td>
                <td>
                    <a href="{{ path('categorie_m_show', {'id': categorie_m.id}) }}">show</a>
                    <a href="{{ path('categorie_m_edit', {'id': categorie_m.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_m_new') }}">Create new</a>
{% endblock %}
