{% extends 'base.html.twig' %}

{% block title %}CategorieE index{% endblock %}

{% block body %}
    <h1>CategorieE index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomCat_e</th>
                <th>Image_e</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_e in categorie_es %}
            <tr>
                <td>{{ categorie_e.id }}</td>
                <td>{{ categorie_e.nomCatE }}</td>
                <td>{{ categorie_e.imageE }}</td>
                <td>{{ categorie_e.description }}</td>
                <td>
                    <a href="{{ path('categorie_e_show', {'id': categorie_e.id}) }}">show</a>
                    <a href="{{ path('categorie_e_edit', {'id': categorie_e.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('categorie_e_new') }}">Create new</a>
{% endblock %}
