{% extends 'base.html.twig' %}
{% block title %}Materiel index{% endblock %}
{% block body %}
<div class="nicdark_space100"></div>
<div class="nicdark_space100"></div>

<div class="col-lg-4">
    <div style="padding-left:40% ; padding-top:10%" , : #0d3a1a>
        <div class="topbar-search">
            <form>
                <label class="navbar-collapse">
                    <input class="form-control" type="text" width="100px" height="100px" name="AfficherClasse"
                           onkeyup="myFunction()" placeholder="Recherche " id="myInput">

                    <i class="fa fa-search"></i></label>
            </form>
            <div class="nicdark_space30"></div>
        </div>
    </div>
    <div class="col-lg-4">
        <table class="nicdark_table extrabig nicdark_bg_white " id="materiel">

            <form>

                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                    <th>Numtel</th>
                    <th>Prix_m</th>
                    <th>Description</th>
                    <th>Nom_materiel</th>
                    <th>Image</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for materiel in materiels %}
                    <tr>
                        <td>{{ materiel.id }}</td>
                        <td>{{ materiel.nom }}</td>
                        <td>{{ materiel.prenom }}</td>
                        <td>{{ materiel.email }}</td>
                        <td>{{ materiel.numtel }}</td>
                        <td>{{ materiel.prixM }}</td>
                        <td>{{ materiel.description }}</td>
                        <td>{{ materiel.nomMateriel }}</td>
                        <td><img src="{{ asset('uploads/'~materiel.image ) }}" alt="" width="50px" height="50px"/></td>
                        <td>
                            <a href="{{ path('materiel_show', {'id': materiel.id}) }}">show</a>
                            <a href="{{ path('materiel_edit', {'id': materiel.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="12">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </form>
        </table>

        <div class="nicdark_space100"></div>

    </div></div>
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, j, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("materiel");
            tr = table.getElementsByTagName("tr");
            //   alert(td.length);
            for (i = 0; i < tr.length; i++) {
                var rowContent = tr[i].textContent;
                rowContent = rowContent.replace(/[\s]+/g, ' ');
                //console.log(rowContent);

                if (rowContent) {
                    if (rowContent.toUpperCase().includes(filter)) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }

            }
        }


    </script>


    {% endblock %}
