{% extends 'base.html.twig' %}

{% block title %}List Commande Materie{% endblock %}

{% block body %}
<div class="grid grid_12">
    <div class="nicdark_space50"></div>
    <div class="nicdark_space50"></div>
    <div class="nicdark_space50"></div>
    <div class="nicdark_space30"></div>
    <div class="nicdark_textevidence  left overflow_scroll">
    <table class="nicdark_table extrabig nicdark_bg_yellow ">
        <thead class="nicdark_border_yellow">
            <tr>
                <th>Id</th>
                <th>Date_creation</th>
                <th>Address_destination</th>
                <th>Total</th>
                <th>Quantite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody  class="nicdark_bg_grey nicdark_border_grey">
        {% for commande_m in commande_ms %}
            <tr>
                <td>{{ commande_m.id }}</td>
                <td>{{ commande_m.dateCreation ? commande_m.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ commande_m.addressDestination }}</td>
                <td>{{ commande_m.total }}</td>
                <td>{{ commande_m.Quantite }}</td>
                <td>
                    <a href="{{ path('commande_m_show', {'id': commande_m.id}) }}" class="nicdark_btn_icon nicdark_bg_green small _circle white">show</a>
                    <a href="{{ path('commande_m_edit', {'id': commande_m.id}) }}" class="nicdark_btn_icon nicdark_bg_red small _circle white">edit</a>
                    <a href="{{ path('commande_m_delete', {'id': commande_m.id}) }}" class="nicdark_btn_icon nicdark_bg_blue small _circle white">delete</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <a href="{{ path('commande_m_new') }}">Create new</a>
{% endblock %}